@import 'tokens.css';
@import './componentsCSS/navStyle.css';

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    shape-rendering: geometricPrecision;
    text-rendering: geometricPrecision;
    
}

body{
    background-color: var(--colors-brackground-main)
}
